
/* STYLING */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@200;300;400;700&display=swap');

/* ROOT STYLING */
:root {
    
    /* COLORS */
    --bg-clr-1:#282634;
    --bg-clr-2:#16151d;

    --primary-clr:#FF4E44;
    --secondary-clr:#DE7571;

    /* FONT SIZES */
    --fs-h1: 1rem; 
    --fs-h2: 1rem;
    --fs-h3: 2rem;
    --fs-h4: 1rem;
    --fs-p: 1.1rem;
    --fs-a: 0.8rem;
    --fs-btn: 0.7rem;

    /* FONT WEIGHT */
    --fw-1: 200; 
    --fw-2: 400;
    --fw-3: 700;

    /* LINE HEIGHT */
    --lh-short:1;
    --lh-long:1.5;
    
    /* FONT FAMILY */
    --ff-h:'Poppins', sans-serif;
    --ff-p:'Open Sans', sans-serif;
}

    /* :ROOT MEDIUM SCREENS */
@media screen and (min-width: 600px) {
    :root {
        --fs-h1: 1.5rem; 
        --fs-h2: 2rem;
        --fs-h3: 3rem;
        --fs-h4: 1.3rem;
        --fs-p: 1.2rem;
        --fs-a: 0.9rem;
    }
}

/* ROOT LARGER SCREENS */
@media screen and (min-width: 992px){
    :root {
        --fs-h1: 2rem; 
        --fs-h2: 2.5rem;
        --fs-h3: 3.7rem;
        --fs-btn: 0.9rem;
    }
}

    /* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}


    /* IMAGES */
img {
    width: 100%;
}

/* FONT STYLING */
p {
    font-size: var(--fs-p);
    font-family: var(--ff-p);
    line-height: var(--lh-long);
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.822);
}

h1 {
    font-family: var(--ff-h);
    font-weight: var(--fw-1);
    font-size: var(--fs-h1);
}

h2 {
    font-family: var(--ff-h);
    font-weight: var(--fw-3);
    font-size: var(--fs-h2);
    line-height: var(--lh-short);

}

h3 {
    font-family: var(--ff-h);
    font-size: var(--fs-h3);
    font-weight: var(--fw-1);
    line-height: var(--lh-short);
    margin-bottom: 40px;
    color: white;
}

h4 {
    font-family: var(--ff-h);
    font-size: var(--fs-h4);
    font-weight: var(--fw-3);
    line-height: var(--lh-short);
    color: var(--secondary-clr);
}

.top-nav a {
    font-family: var(--ff-p);
    font-size: var(--fs-a);
    font-weight: var(--fw-3);
    color: white;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
}

.top-nav .menu-link a:hover{
    background-color: #2826345d;
    color:var(--primary-clr);
}

.menu-icon i {
    font-size: 1.5rem;
    margin-right: 5px;
}

.menu-icon i:hover {
    transform: scale(1.2);
    color: white;
}

main a {
    color: var(--primary-clr);
    font-size: var(--fs-p);
    font-family: var(--ff-p);
}

main a:hover {
    text-decoration: underline;
}

span {
    color:var(--primary-clr);
}

/* BUTTON STYLING */

.btn {
    border-radius: 999px;
    color: white;
    padding: 5px 40px;
    font-size: var(--fs-btn);
    text-transform: uppercase;
    font-family: var(--ff-h);
    font-weight: var(--fw-2);
    margin: 5px;
    cursor: pointer;
}

.btn:hover {
    transform: scale(0.9);
}

.btn-solid {
    background-color: var(--secondary-clr);
    border: none;
}

.btn-trans {
    border: 1px solid var(--secondary-clr);
    background-color: transparent;
    padding: 5px 29px;
}


/* CLIP-PATHS */

.clip-path {
    clip-path: polygon(100% 90%, 0% 100%, 100% 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom:0;
    z-index: 1;
}

.cp-header {
    background-color: var(--bg-clr-2);
}

.cp-languages {
    background-color: var(--bg-clr-1);
}

@media screen and (min-width: 500px) {
    .clip-path {
        clip-path: polygon(100% 80%, 0% 100%, 100% 100%);
    }
}

/* ---- layout -----*/

/* HEADER */

header.header {
    background-color: var(--bg-clr-1);
    height: 100%;
    min-height: 100vh;
    color: white;
    position: relative;
}

/* NAVIGATION */
header .top-nav {
    background-color: var(--bg-clr-2);
    text-align: center;
    padding: 10px 0;
    z-index: 5;
}

header .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LANDING  */
section.landing {
    padding: 150px 0 10% 10%;
    max-width: 90%;
    text-align: start;
    position: relative;
    z-index:4;
}

.landing h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.landing h3 {
    padding-bottom: 20px; 
    margin: 0;
    position: relative;
}

.landing h3::after {
    content: "";
    width: 100%;
    max-width: 650px;
    position: absolute;
    border-top: 2px solid rgb(255, 255, 255);
    bottom: 10px;
    left:0px;
}

/* LANDING ANIMATION */

.landing .scroll::before {
    content: "";
    animation: scroll-text infinite 10s, fade-text infinite 10s;
}

@keyframes scroll-text {
    0%, 100% {
        content:"PEOPLE";
    }
  
    20% {
        content: "CODE";
    }

    40% {
        content: "HTML";
    }

    60% {
        content: "CSS";
    }

    80% {
        content: "SEO";
    }
}

/* H3 DECORATION */
#about h3 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

#about h3::after {
        content: "";
        position: absolute;
        width: 60%;
        border-top: 2px solid var(--primary-clr);
        bottom: -5px;
        left: 20%;
}

/* MOBILE CONTENT GRID */

.grid {
    background-color: var(--bg-clr-2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "about-img"
    "about"
    "education-img"
    "education"
    "skills-img"
    "skills"
    "work"
    "work-img"
    "languages"
    ;
}

.about {
    grid-area: about;
}

.about-img {
    grid-area: about-img;
}

.education {
    grid-area: education;
    background-color: var(--bg-clr-1);
}

.education-img {
    grid-area: education-img;
    background-color: var(--bg-clr-1);
}

.skills {
    grid-area: skills;
}

.skills-img {
    grid-area: skills-img;
}

.work {
    grid-area: work;
    background-color: var(--bg-clr-1);
}

.work-img {
    grid-area: work-img;
    background-color: var(--bg-clr-1);
}

.grid img{
    max-width: 200px;
    background-color:var(--secondary-clr);
    border-radius: 20%;
} 

.work-img img {
    background-color: transparent;
    border:none;
}

.grid-item {
    padding: 10% 20%;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

 /* LANGUAGES */

.languages {
    grid-area: languages;
    background-image: url(img/matrix-356024_1920.jpg);
    background-color:var(--bg-clr-1);
    background-attachment: fixed;
    background-blend-mode:luminosity;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.languages h3 {
    font-weight: var(--fw-2);
}

.languages ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
    position: relative;
    padding-bottom: 10%;
}

.languages p {
    color:white;
    font-weight: var(--fw-3);
}

.languages li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}

.languages li i{
   font-size: 10rem;
   color:var(--bg-clr-2);
   text-shadow: 0 0 30px rgb(255, 255, 255);
}

    /* ANIMATED LOADING SPINNER */
.spinner-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner{
    position: absolute;
    width: 50px;
    height: 50px;
    border: 10px solid transparent;
    border-top: 5px solid var(--primary-clr);
    border-bottom: 5px solid var(--primary-clr);
    border-radius: 50%;
    animation: spinner 2s linear infinite, fade 2s linear infinite alternate;;
    
}

.spinner-wrap p {
    font-size: 1rem;
    position: absolute;
    top: 15%;
    font-weight: var(--fw-3);
}

@keyframes spinner{
    from {
        transform: rotate(0deg);
    }
    
    to { 
        transform: rotate(360deg);
    }
}
@keyframes fade {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

/* CONTACT SECTION */

#contact {
    background-color: var(--bg-clr-1);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

#contact h3 {
    color: var(--secondary-clr);
    margin-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    display: inline-block;
    position: relative;    
}

#contact h3::after {
    content: "";
    position: absolute;
    width: 60%;
    border-top: 2px solid var(--secondary-clr);
    bottom: -5px;
    left: 20%;
}

/* CONTACT FORM */
#contact form {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 400px;
    margin: 0 auto;
    background-color: var(--bg-clr-1);
    color: white;
    font-family: var(--ff-h);
    margin-top: 40px;
}

#contact form input, #contact form textarea {
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid none;
    border-radius: 5px;
    background-color: #A1A6AA;
    color: rgb(0, 0, 0);
    border: none;
    font-family: var(--ff-p);
}

#contact form input::placeholder, #contact form textarea::placeholder{
    color: var(--bg-clr-1);
}

#contact form input:focus, #contact form textarea:focus {
    outline: none;
    border: 2px solid var(--secondary-clr)
}

#contact form button:focus {
    border: 2px solid white;
    outline: none;
}

/* FOOTER SECTION */
.footer {
    background-color: var(--bg-clr-2);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer ul {
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.footer i {
    font-size: 2rem;
    color: white;
    margin: 5px
}

/*  @MEDIA QUERIES SCREENS ABOVE 600px */

@media screen and (min-width: 600px){

    header .top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
    }

    header .top-nav ul {
        display: flex;
    }

    header .menu-link {
        margin-left: 10%;
    }

    header .menu-icon {
        margin-right: 5%;
    }

    header .top-nav li {
        padding-right: 15px;
    }

    section.landing {
        padding-top: 200px;
    }
}

/*  @MEDIA QUERIES SCREENS ABOVE 768px */

@media screen and (min-width: 768px) {
 
    /* GRID ON LARGER SCREENS */

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "about about-img "
        "education-img education"
        "skills skills-img"
        "work work-img"
        "languages languages"
        ;
    }
    
    .grid img {
        max-width: 400px;
    } 
}