* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}

header {
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-color: rgba(13, 14, 13, 0.753);
    background-blend-mode: multiply;
    height: 100vh;
    color: white;
}

header .top-nav {
    text-align: center;
    color: white;
    /* padding: 20px; */
}
header .top-nav a, header {
    padding: 5px;
    color: white;
    display: block;
    text-transform: uppercase;
}

header .top-nav a {
    
}

header .top-nav a:hover{
    color: red;
}